* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #d3d3d3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.header {
  background-image: url(../source/bg/bg-header.png);
  min-width: 1440px;
  height: 90px;

  margin: 0 auto;
  .wrapper-header {
    display: flex;
    margin: 0 auto;
    width: 1440px;

    h1 {
      padding-left: 20px;
      margin-right: 454px;
      a {
        color: #fff;
        font-family: Forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.6px;
        line-height: 50px; /* 166.667% */
        transition: 1s;
        &:hover {
          color: gray;
          transition: 1s;
        }
      } /* a */
    } /* h1 */
    /*  *************************************** */

    .header-nav {
      margin-right: 40px;
      display: flex;
      align-items: center;

      ul {
        padding: 0;
        display: inline-flex;
        align-items: flex-start;
        gap: 30px;
        li {
          color: black;
          a {
            color: #fff;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            transition: 1s;
            &:hover {
              color: gray;
              transition: 1s;
            }
          } /* a */
        } /* li */
      } /* ul */
    } /* header-nav */
    img {
      margin-right: 20px;
    } /* nav img */
  } /* wrapper-header */
} /* header */

/* ******************************************** */

.main {
  color: black;
  /* comment */
  .section-welcome {
    background-image: url(../source/bg/bg-welcome.png);
    min-width: 1440px;
    height: 600px;
    .wrapper-welcome {
      width: 1440px;
      margin: 0 auto;
      .welcome-balance {
        padding-bottom: 220px;
      } /* welcome-balance */
      .welcome-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 220px;
        flex-shrink: 0;
        background: #0c0c0e;
        h2 {
          color: #fff;
          text-align: center;
          font-family: Forum;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px; /* 125% */
          letter-spacing: 3px;
          text-transform: uppercase;
          .span-welcome {
            margin-left: -10px;
          } /* span-welcome */
          .span-library {
            padding-left: 2px;
          } /* span-library */
        } /* h2 */
      } /* welcome-title */
    } /* wrapper-welcome */
  } /* welcome */
} /* main */
